<style>
    <!--
       div#stage1, div#stage2, div#stage3, div#stage4 {
               margin-top: 60px;
           }
       
       table#instructions-table {
           font-size: 15px !important;
       }
       
       h2 {
           font-size: 20px !important;
       }
       
       h2.row.nutra_content {
           font-size: 20px !important;
       }
       
       div#stage3  ol {
           margin-top: 20px !important;
       }
       p.dd {
           font-size: 20px;
       }
       
       body{
         font-size: 20px;
       }
       
           body.template-page.template-page ol li, body.template-page.template-page ul li {
               font-size: 20px;
               line-height: 28px;
               color: #000;
               margin-bottom: 10px;
           }
           table#instructions-table tr td {
               text-align: center;
           }
           table#instructions-table tr:nth-child(even) {
               background: #eee;
           }
           @media (max-width: 767px) {
               div#section-img a img {
                   width: 100%;
               }
               .grid__item {
                   padding-left: 0px !important;
               }
           }
       -->
 </style>

<div class="Diet-Protocol">
  
 <div class="diet-page page-width nutra_box">
    <div class="row nutra_content first-content" id="section1">
       <div class="col-md-12 First">
         
         <div class="Heading">
          <h2 class="page-heading" style="text-align: center;">Welcome to the BioSource Nutra Diet Program!</h2>
         </div>
         
         <div class="Content">
         
         <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-xs-12" id="section-btns">
             
           <div class="Head-Content"><span>Quick Navigation</span></div>

           <div class="Buton-Group">
             <div class="Button-C">
             <a href="#stage1" class="big-button 1s1">Phase 1</a>
             </div>
             
             <div class="Button-C">
             <a href="#stage2" class="big-button 1s2">Phase 2</a>
             </div>
             
             <div class="Button-C">
             <a href="#stage3" class="big-button 1s3">Phase 3 &amp; 4</a>
             </div>  

             <div class="Button-Last Button-C">
             <a href="https://members.complexdietdrops.com/register.php" class="big-button biggreen href_url" target="_blank" rel="noopener noreferrer">
               Diet Tools Registration
             </a>
             </div>
             <br></br>
             <div class="Button-Last Button-C">
             <a href="https://members.complexdietdrops.com" class="big-button biggreen href_url" target="_blank" rel="noopener noreferrer">
               Member Login
             </a>
             </div>
             
           	</div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12" id="section-img">
             <div class="Head-Content">
               <span><a href="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/New_Content_-_Quickstart_Diet_Guide_web.pdf?v=1622587338" target="_blank" rel="noopener noreferrer">
                 Click To Download Diet Guide
            	</a>
               </span>
           
            </div>
            <div class="Image-Content">
              
              <a href="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/New_Content_-_Quickstart_Diet_Guide_web.pdf?v=1622587338" target="_blank" rel="noopener noreferrer"> 
                <img class="aligncenter wp-image-1204 lazyload" src="https://cdn.shopify.com/s/files/1/0268/2306/5772/files/2020-08-07_17-25-54.png?v=1610613571" alt="BioSource NUtra Diet Quickstart Guide Download" width="226" height="203" />
              </a>
              </div>
          </div>
         
         </div>
       </div>
    </div>
   
<div class="row nutra_content Phase-Second">
      
      
		<div class="Content-Para">
          
          <p>Welcome to the first step in this exciting, life-changing diet program that has helped thousands of people just like you lose weight and transform their bodies.</p>
          <p>The BioSource Nutra Diet Program was created to help you develop good eating habits, boost your metabolism into high gear, and achieve goals that will empower you to make positive long-term changes. This plan works in four phases, namely the priming, fat burning, stabilization, and lifestyle phase.</p>
          <p>This guide will help you to understand the various phases of the diet and get you moving quickly toward your weight loss goal. Please visit <a href="https://members.complexdietdrops.com/register.php" class="registerbtn href_url" aria-describedby="a11y-external-message">https://members.complexdietdrops.com/register.php</a> to register for free recipes, and other helpful diet tools. Dedicate yourself to completing each phase, and you will start to see the amazing results for yourself. If you want it, you can have it!</p>
		 </div>
          
          <div class="Desc-Head" id="section1">
             <div class="col-md-12 ">
                
                  
                      <div class="Content">
                         <div class="Head-Content Section-Head" id="section-img">
                           
							<div class="Sect-Head">
                            <h4>Quick Tips:</h4>
							</div>
							
							<div class="Content-Desc">
									<div class="Desc-List">          
										<ul>
										 <li><h6 class="List-Title">1) TRACK YOUR RESULTS.</h6> <p>Log your weight daily.Log your main body measurements 2-3 times per week. Over time you should see a downward trend.</p></li>
                                          <li><h6 class="List-Title">2) HUNGER AND MILD HEADACHES ARE NORMAL.</h6> <p>Most people experience a little hunger and minor headaches when beginning a new eating regimen. This is your body’s natural response as it adjusts to the decrease in calories, sugar, and other unhealthy substances.</p></li>
										 <li><h6 class="List-Title">3) WEIGHT FLUCTUATION IS NORMAL.</h6> <p>It’s not uncommon for your weight to occasionally fluctuate up and down slightly from day to day. Your body is figuring out how to manage your new lifestyle. You’ll stabilize further along in the diet.</p></li>
										 <li><h6 class="List-Title">4) STAY TRUE! DON’T CHEAT.</h6> <p>It is important to refrain from consuming any foods or drinks that are not on the diet plan. To experience extraordinary results, you must break out of the former lifestyle choices that have brought you here. Your results depend on it!</p></li>
									  </ul>
									  
									</div>
							</div>
							
							
							<div class="Sect-Head">
                            <h4 class="Sec-Title">Recommended Dosage</h4>
							</div>
							
							
							<div class="Content-Desc">
							
							  <p>Follow what is recommended in the instructions on your Diet Drops bottle unless otherwise directed. <em>(Complex Diet Drops is 10 drops or 0.5ml, 3 times per day)</em></p>
							
							</div>
							
							
							<div class="Sect-Head">
                            <h4 class="Sec-Title">PROGRAM SUMMARY – PRIME, FAT BURN, STABILIZE, LIVE LIFE!</h4>
							</div>
							
							
							<div class="Content-Desc">
							
							  <p>
							  There are two diet length options to consider before you begin. Choose the option that best fits your goals.
							  </p>

							  <p>
							  
							  We highly recommend the slightly longer Option 2 to allow for your new lifestyle changes to really take hold. Those who follow this option tend to maintain their goal weight for longer.  

							  </p>
							
							</div>
							
							<div class="Sect-Head">
                              <h4 class="Sec-title"><span>OPTION 1- Short Round</span></h4>
                              
                             <div class="Content-Desc">
							 <p>If you are less than 20 lbs over your ideal body weight. If you haven’t reached your goal by day 21, you can extend Phase 2 and begin following Option 2.</p>
                              <li><b>Phase 1:</b>  PRIME (Days 1 – 2)
                              <li><b>Phase 2:</b> FAT BURN (Days 3 – 21)
                              <li><b>Phase 3:</b> STABILIZE (Days 22 – 42)
                              <li><b>Phase 4:</b> LIFESTYLE (Days 43 onward)
                              </div>
                              </div>
<br>
                           
                           <div class="Sect-Head">
                           <h4 class="Sec-title"><span>OPTION 2 - Extended Round</span></h4>
                           <div class="Content-Desc">
Best if you are more than 20 lbs over your ideal body weight or have not reached your goal during Phase 2 of Option 1.</p>
<li><b>Phase 1:</b> PRIME (Days 1 – 2)
<li><b>Phase 2:</b> FAT BURN (Days 3 – 41)
<li><b>Phase 3:</b> STABILIZE (Days 42 – 64)
<li><b>Phase 4:</b> LIFESYLE (Days 65 onward)

                              </div>
                         </div>
                      </div>
             </div>
          </div>
       </div>
  <p id="stage1"></p>
        
                  <div class="Desc-Head Desc-Head2" id="section1">
                     <div class="col-md-12 ">


                              <div class="Content">
                                 <div class="Head-Content Section-Head" id="section-img">

                                    <div class="Sect-Head">
                                      <br>
                                   
                                      
                                      <h4>PHASE 1 – PRIME</h4>
                                   <div class="Content-Desc">
                                     <br>
                                     For the first 2 days, you are priming your body to begin the fat-burning process. This phase signals to your body that you have enough calories and it’s ok to “let go” of extra calorie storage. 
                                       Enjoy some of your favorite “naughty list” foods like a cheeseburger, slice of pizza, or a sweet dessert. 
                                       While you don’t have to worry about counting calories during this phase, it’s still important that you don’t go overboard with the naughty foods. 
                                       There are a few guidelines to follow:
                                     <br>
                                     <br>
                                       <ul>
							<li>
							- Start taking your Diet Drops and other recommended supplements
							</li>
							<li>
                            - Eat something fun from your naughty list foods
							</li>
							<li>
							- Eat two to three healthy fats per day
							</li>
                                         </ul>
                                         <i>Good sources of healthy fats: Coconut Oil, Avocado, Grass Fed Butter, Olive Oil, Raw Nuts, Fish (Salmon is one of the best), Grass Fed Beef, Buffalo, Eggs.</i>
                                      </div>
                                   </div>
                                </div>
                       </div>
                    </div>
  </div>
                                     
						<p id="stage2"></p>
                                      
                                      <div class="Desc-Head Desc-Head2" id="section1">
                     <div class="col-md-12 ">


                              <div class="Content">
                                 <div class="Head-Content Section-Head" id="section-img">

                                    <div class="Sect-Head">
                                     
                                      <h4>PHASE 2 – FAT BURN (VLCD)</h4>
                              
                                    
                              
                                    <div class="Content-Desc">

                                      <p>Time to get the party started! Let’s get to losing weight and feeling great. Put simply, this is the very low calorie diet phase. You should not exceed 550 calories per day.</p>

                                    </div>


                                    <div class="Sect-Head">
                                    <h4 class="Sec-Title">Guidelines to Follow:</h4>
                                    </div>

                                    <div class="Desc-List">          
                                                <ul>
                                                  <li><h6>Weigh In & Log – </h6><p>Weigh yourself right when you wake up, and keep a log of your daily weight.</p></li>
                                                  <li><h6>No Oils – </h6> <p>Do not prepare your food with any oils. Do not use any oils on your skin during the Fat Burn phase.</p></li>
                                                  <li><h6>Follow a Daily, Routine Eating Pattern</h6></li>
                                                </ul>

                                                <div class="List-Desc-Content">
												<li><p>a. Eat in a specified time frame.</p></li>
                                                <li><p>b. Rotate proteins from the list</p></li>
                                                <li><p>c. Rotate fruits from the list</p></li>
                                                <li><p>d. Eat a variety of veggies from the list (Veggies can and should be consumed in large quantities.)</p></li>
                                            </div>

                                    </div>


                                    <div class="Content-Desc">


                                      <div class="Sec-Title col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">	
                                      <div class="Sec-Head-List">
                                          
                                      <h4 class="Sec-Title">(a.) Have a Designated Eating Time –</h4>
                                      Each day you will want to eat all of your meals within an 8-hour time frame. For example, no eating before 11:00 AM or after 7:00 pm. This is just an example. Choose your 8-hour eating time according to your schedule and lifestyle, and stick to it.
                                     


                                      <li>
                                      <h4 class="Sec-Title">(b.) Rotate Between a Couple of Proteins Each Day –</h4>
                                      Incorporating a variety of foods and nutrition within the BioSource Nutra Diet Program helps your body maintain it’s fat-burning abilities. It is recommended that you eat no more than a couple of different proteins every day during the Fat Burn phase. Try not to eat the same protein two days in a row. Here’s an example of how you could rotate your protein choices.
                                      
                                      <div class="List-table">
                                      	<table class="table">
                                          
                                          <tbody>
                                              <tr>
                                                
                                                <th>MEAL</th>
                                                <th>MONDAY</th>
                                                <th>TUESDAY</th>
                                                <th>WEDNESDAY</th>
				
                                              </tr>

                                              <tr>
												
                                                <th>LUNCH</th>
                                                <td>Chicken</td>
                                                <td>Beef</td>
                                                <td>Chicken</td>

                                              </tr>

                                              <tr>
												
                                                <th>DINNER</th>
                                                <td>Shrimp</td>
                                                <td>Tilapia</td>
                                                <td>Shrimp</td>

                                              </tr>

                                          </tbody>
                                          
                                        </table>
                                        
                                      </div>
                                        
                                      </li>


                                      <li>
                                      Do not increase the serving size for land protein beyond 4 ounces and do not increase beyond 6 ounces for sea protein.

                                      </li>

                                      </div>

                                    </div>
                                   </div>

                                    <div class="Head-With-Desc">
                                    <div class="Sect-Head Not-Underline">
                                    <h4 class="Sec-Title">Pro Tip:</h4>

                                     <p>When you eat land protein, such as chicken or beef, at one meal, try to eat a sea protein, such as tilapia or shrimp, for the second meal. The benefit is increased nutrient variety and better calorie allocation.</p>
                                    </div>


                                    <div class="Content-Desc Underline">
                                    <h4 class="Sec-Title">(c.) Eat Two Different Fruits Per Day –</h4>
                                      <p>It is recommended that you eat no more than a couple of different fruits each day during this phase. You can eat your fruit alongside your protein and/or veggies or you can eat it as a stand-alone snack. Just remember that all eating happens within your designated 8-hour eating time.</p>

                                    </div>

                                    <div class="Sect-Head Not-Underline">
                                    <h4 class="Sec-Title">Pro Tip:</</h4>

                                     <p>Try eating two different fruits per day for increased nutrient variety and better calorie allocation. Unlike protein, it is okay to eat the same fruit multiple days in a row. Don’t slow your fat-burning progress by increasing the amount of fruit you eat daily. Stick to eating no more than two fruits a day.</p>
                                    </div>

                                    <div class="Content-Desc Underline">
                                    <h4 class="Sec-Title">
                                    (d.) Eat Copious Amounts of Veggies -  

                                    </h4>
                                      <p>Eat as many veggies as possible during the Fat Burn phase. The veggies on your list are extremely nutrient-dense with very few calories per serving. Some veggies are recommended to be eaten only once a week or less. Eating these veggies regularly within the Fat Burn phase can cause mild inflammation or the alteration of hormones, consequently slowing weight loss. Review your food list and make note of these veggies.</p>

                                    </div>


                                    <div class="Sect-Head Not-Underline">
                                    <h4 class="Sec-Title">Pro Tip:</</h4>

                                     <p>Be intentional about eating more leafy greens and veggies with higher fiber content. This helps aid the process of slowing down your body’s insulin response. The long-term benefit is an increased metabolism and healthy weight loss.</p>
                                    </div>

                                    <div class="Sect-Head Not-Underline">
                                    <h4 class="Sec-Title">Recommended -</</h4>

                                      <p><u><a href=https://biosourcenutra.com/products/colonew>Colonew</a></u> is our daily colon health formula that contains a beneficial amount of additional dietary fiber. This product is designed to gently clear out toxic buildup in the intestinal tract, aiding the body in rebuilding the healthy gut bacteria that improves overall digestion.</p>
                                    </div>
                                    </div>


                                    <div class="Head-With-Desc Desc-H2">

                                    <h4 class="Sec-Title">Use Pink Salt - </h4>
                                    If you need some seasoning, it’s ok to use salt! Pink salt that is. Pink Sea Salt comes in different varieties. It is more balanced than regular table salt, and contains a number of different trace minerals that your body loves! Pink salt will help you with your body’s hydration process. Go ahead and use it to salt your meals. Don’t go overboard with it, but you should try to use about ¼ to ½ teaspoon per day.

                                    </div>


                                    <div class="Head-With-Desc Desc-H2">

                                    <h4 class="Sec-Title">Use Stevia, Not Sugar - </h4>
                                    The only sweetener permitted during the Fat Burn phase is stevia. It’s best to use stevia in liquid form, however, if you like powdered stevia, Sweetleaf is one of the best brands to use. Other types of powdered stevia contain neurotransmitter disruptors such as maltodextrin.

                                    </div>


                                    <div class="Head-With-Desc Desc-H2">

                                    <h4 class="Sec-Title">Drink Plenty of Water - </h4>
                                    We can’t stress how important this is. Your ultimate goal is to be drinking half of your body weight in ounces of water per day. For example, if you weigh 200 pounds, you should eventually get up to drinking 100 oz/day.Unless you are already doing this, don’t go all in yet. As a standard rule of thumb, you should aim to drink at least 8 – 8oz glasses of water. Start there and increase your water intake over the first two weeks to try to meet this goal.You can drink sparkling water, coffee (limited), and tea. You can also try drinking Zevia (soda replacement), or use water enhancer drops. Remember, no sweeteners except for Stevia.

                                    </div>




                                    <div class="Head-With-Desc Desc-H2 H3">

                                    <div class="H3-Head">
                                    <h4 class="Sec-Title">Prevent Weight Stagnation/Plateaus</h4>
                                    <p>When you are the same weight, or nearly the same weight, for three days in a row, you are officially on a plateau and need to do a Weight Breaker. Here are some examples:</p>
                                    </div>


                                    <div class="H3-Desc-List">

                                    <ul>
                                    <li>
                                    <p>Day 1 – You weigh 180 lbs.</p></li>
                                    <li>
                                    <p>Day 2 – You weigh 180 lbs.</p></li>
                                    <li>
                                    <p>Day 3 – You weigh 180 lbs. – Do a Weight Breaker this day</p>
                                    </li>
                                    </ul>

                                    </div>


                                    <div class="H3-Head H4-Head">
                                    <h4 class="Sec-Title">Types of Weight Breakers</h4>
                                    <p>Below are three methods of Weight Breakers to help you get past that stagnating weight. While it is recommended to try the Steak Method as your first Weight Breaker, all three are great options!</p>

                                    <div class="New-Content Head-With-Desc Desc-H2">
                                    <h4 class="Sec-Title">
                                    The Steak Method –
                                    </h4>
                                    <p>This is the “go to” weight breaker. Consume plenty of water throughout day, consuming no food until the end of the day (usually around dinner time). At the end of the day, you are to only eat a 5-ounce grass-fed steak and an organic tomato or apple. This increase in size only applies when following the steak method. Remember, you will eat up to 4 ounces of land protein during your normal eating plan in the Fat Burn phase.</p>

                                    <h4 class="Sec-Title">
                                    The Apple Method –
                                    </h4>
                                    <p>Aim to eat up to six apples throughout the day. There is no designated eating time when following the apple method. Start and finish your apples whenever you want! You can also make your own applesauce, baked apples, or dehydrated apple chips during this day.</p>

                                    <h4 class="Sec-Title">
                                    The Raw Vegetable Method – 
                                    </h4>
                                    <p>Eat as many raw vegetables from the list as you can while following this method. Similar to the apple method, there is no designated eating time when following the raw vegetable method. Start and finish whenever you’d like. The only rule is that the vegetables must be raw.</p>

                                    </div>

                                    </div>

                                    </div>




                                    <div class="Content-Desc">

                                      <div class="Table Content-Table">

                                        <div class="Table-Head">

                                        <h4 class="Sec-Title">
                                        Approved Foods
                                        </h4>

                                        </div>

                                        <div class="Table-Desc Desktop">

                                        <table id="instructions-table">
                                           <tbody>
                                              <tr class="tbl-heading">
                                                 <td class="tbl-ing-heading">PROTEINS</td>
                                                 <td class="tbl-ing-heading">CALORIES PER OZ</td>
                                                 <td class="tbl-ing-heading">VEGGIES</td>
                                                 <td class="tbl-ing-heading">CALORIES PER OZ</td>
                                                 <td class="tbl-ing-heading">FRUITS</td>
                                                 <td class="tbl-ing-heading">CALORIES PER SERVING</td>
                                              </tr>
                                              <tr>
                                                 <td>Albacore Tuna</td>
                                                 <td>30</td>
                                                 <td>Alfalfa Sprouts</td>
                                                 <td>6</td>
                                                 <td>Apple (Medium) (HF)</td>
                                                 <td>95</td>
                                              </tr>
                                              <tr>
                                                 <td>Beef – Ground (90/10)</td>
                                                 <td>50</td>
                                                 <td>Artichoke (HF)</td>
                                                 <td>13</td>
                                                 <td>Apricot</td>
                                                 <td>17</td>
                                              </tr>
                                              <tr>
                                                 <td>Beef – Steak (Grass Fed)</td>
                                                 <td>38</td>
                                                 <td>Asparagus (HF)</td>
                                                 <td>5</td>
                                                 <td>Blackberry 1/2 Cup</td>
                                                 <td>31</td>
                                              </tr>
                                              <tr>
                                                 <td>Black Sea Bass</td>
                                                 <td>28</td>
                                                 <td>Bell Pepper</td>
                                                 <td>6</td>
                                                 <td>Blueberry 1/2 Cup</td>
                                                 <td>42</td>
                                              </tr>
                                              <tr>
                                                 <td>Buffalo</td>
                                                 <td>50</td>
                                                 <td>Broccoli (1X) (HF)</td>
                                                 <td>10</td>
                                                 <td>Cherry 1/2 Cup</td>
                                                 <td>38</td>
                                              </tr>
                                              <tr>
                                                 <td>Chicken</td>
                                                 <td>35</td>
                                                 <td>Brussel Sprouts (HF)</td>
                                                 <td>12</td>
                                                 <td>Grapefruit (1/2)</td>
                                                 <td>52</td>
                                              </tr>
                                              <tr>
                                                 <td>Cod</td>
                                                 <td>23</td>
                                                 <td>Cabbage (HF)</td>
                                                 <td>7</td>
                                                 <td>Lemon</td>
                                                 <td>17</td>
                                              </tr>
                                              <tr>
                                                 <td>Cottage Cheese (1%) (1X)</td>
                                                 <td>180/Cup</td>
                                                 <td>Cauliflower (1X)</td>
                                                 <td>7</td>
                                                 <td>Lime</td>
                                                 <td>20</td>
                                              </tr>
                                              <tr>
                                                 <td>Crab Meat</td>
                                                 <td>24</td>
                                                 <td>Celery</td>
                                                 <td>4</td>
                                                 <td>Orange (Medium)</td>
                                                 <td>95</td>
                                              </tr>
                                              <tr>
                                                 <td>Egg (1 Whole)*</td>
                                                 <td>78</td>
                                                 <td>Collard Greens (HF)</td>
                                                 <td>9</td>
                                                 <td>Peach (1/2)</td>
                                                 <td>17</td>
                                              </tr>
                                              <tr>
                                                 <td>Egg Whites (1)*</td>
                                                 <td>17</td>
                                                 <td>Cucumber</td>
                                                 <td>4</td>
                                                 <td>Pear (HF)</td>
                                                 <td>31</td>
                                              </tr>
                                              <tr>
                                                 <td>Elk</td>
                                                 <td>31</td>
                                                 <td>Endive</td>
                                                 <td>5</td>
                                                 <td>Plum</td>
                                                 <td>42</td>
                                              </tr>
                                              <tr>
                                                 <td>Flounder</td>
                                                 <td>20</td>
                                                 <td>Fennel (HF)</td>
                                                 <td>9</td>
                                                 <td>Raspberry 1/2 Cup</td>
                                                 <td>38</td>
                                              </tr>
                                              <tr>
                                                 <td>Halibut</td>
                                                 <td>31</td>
                                                 <td>Green Bean (HF)</td>
                                                 <td>9</td>
                                                 <td>Strawberry 1 Cup</td>
                                                 <td>52</td>
                                              </tr>
                                              <tr>
                                                 <td>Haddock</td>
                                                 <td>21</td>
                                                 <td>Jalapenos</td>
                                                 <td>8</td>
                                                 <td>Watermelon 1 Cup</td>
                                                 <td>17</td>
                                              </tr>
                                              <tr>
                                                 <td>Lobster</td>
                                                 <td>22</td>
                                                 <td>Kale (HF)</td>
                                                 <td>14</td>
                                                 <td></td>
                                                 <td></td>
                                              </tr>
                                              <tr>
                                                 <td>Mahi Mahi</td>
                                                 <td>24</td>
                                                 <td>Leek</td>
                                                 <td>19</td>
                                                 <td></td>
                                                 <td></td>
                                              </tr>
                                              <tr>
                                                 <td>Perch</td>
                                                 <td>26</td>
                                                 <td>Lettuce</td>
                                                 <td>4</td>
                                                 <td></td>
                                                 <td></td>
                                              </tr>
                                              <tr>
                                                 <td>Pheasant</td>
                                                 <td>37</td>
                                                 <td>Onion</td>
                                                 <td>11</td>
                                                 <td></td>
                                                 <td></td>
                                              </tr>
                                              <tr>
                                                 <td>Scallop</td>
                                                 <td>25</td>
                                                 <td>Portabella Mushrooms</td>
                                                 <td>7</td>
                                                 <td></td>
                                                 <td></td>
                                              </tr>
                                              <tr>
                                                 <td>Shrimp</td>
                                                 <td>30</td>
                                                 <td>Radish</td>
                                                 <td>6</td>
                                                 <td></td>
                                                 <td></td>
                                              </tr>
                                              <tr>
                                                 <td>Swordfish</td>
                                                 <td>40</td>
                                                 <td>Shallot</td>
                                                 <td>20</td>
                                                 <td></td>
                                                 <td></td>
                                              </tr>
                                              <tr>
                                                 <td>Tilapia</td>
                                                 <td>27</td>
                                                 <td>Shiitake Mushrooms</td>
                                                 <td>9</td>
                                                 <td></td>
                                                 <td></td>
                                              </tr>
                                              <tr>
                                                 <td>Trout</td>
                                                 <td>64</td>
                                                 <td>Spinach (HF)</td>
                                                 <td>7</td>
                                                 <td></td>
                                                 <td></td>
                                              </tr>
                                              <tr>
                                                 <td>Turkey (White meat)</td>
                                                 <td>46</td>
                                                 <td>Swiss Chard (HF)</td>
                                                 <td>6</td>
                                                 <td></td>
                                                 <td></td>
                                              </tr>
                                              <tr>
                                                 <td>Veal</td>
                                                 <td>34</td>
                                                 <td>Tomato</td>
                                                 <td>5</td>
                                                 <td></td>
                                                 <td></td>
                                              </tr>
                                              <tr>
                                                 <td>Venison</td>
                                                 <td>45</td>
                                                 <td>Zucchini</td>
                                                 <td>5</td>
                                                 <td></td>
                                                 <td></td>
                                              </tr>
                                              <tr>
                                                 <td>Whitefish</td>
                                                 <td>37</td>
                                                 <td></td>
                                                 <td></td>
                                                 <td></td>
                                                 <td></td>
                                              </tr>
                                           </tbody>
                                        </table>

                                        </div>
                                        
                                        
                                        
                                        <div class="Mobile Table-Desc">

                                            <div class="tab">
                                              <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">PROTEIN</button>
                                              <button class="tablinks" onclick="openCity(event, 'Paris')">VEGGIES</button>
                                              <button class="tablinks" onclick="openCity(event, 'Tokyo')">FRUITS</button>
                                            </div>

                                            <div id="London" class="tabcontent">
                                                 <table id="instructions-table">
                                                                                       <tbody>
                                                                                          <tr class="tbl-heading">
                                                                                             <td class="tbl-ing-heading">PROTEINS</td>
                                                                                             <td class="tbl-ing-heading">CALORIES PER OZ</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Albacore Tuna</td>
                                                                                             <td>30</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Beef – Ground (90/10)</td>
                                                                                             <td>50</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Beef – Steak (Grass Fed)</td>
                                                                                             <td>38</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Black Sea Bass</td>
                                                                                             <td>28</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Buffalo</td>
                                                                                             <td>50</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Chicken</td>
                                                                                             <td>35</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Cod</td>
                                                                                             <td>23</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Cottage Cheese (1%) (1X)</td>
                                                                                             <td>180/Cup</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Crab Meat</td>
                                                                                             <td>24</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Egg (1 Whole)*</td>
                                                                                             <td>78</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Egg Whites (1)*</td>
                                                                                             <td>17</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Elk</td>
                                                                                             <td>31</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Flounder</td>
                                                                                             <td>20</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Halibut</td>
                                                                                             <td>31</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Haddock</td>
                                                                                             <td>21</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Lobster</td>
                                                                                             <td>22</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Mahi Mahi</td>
                                                                                             <td>24</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Perch</td>
                                                                                             <td>26</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Pheasant</td>
                                                                                             <td>37</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Scallop</td>
                                                                                             <td>25</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Shrimp</td>
                                                                                             <td>30</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Swordfish</td>
                                                                                             <td>40</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Tilapia</td>
                                                                                             <td>27</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Trout</td>
                                                                                             <td>64</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Turkey (White meat)</td>
                                                                                             <td>46</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Veal</td>
                                                                                             <td>34</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Venison</td>
                                                                                             <td>45</td>

                                                                                          </tr>
                                                                                          <tr>
                                                                                             <td>Whitefish</td>
                                                                                             <td>37</td>

                                                                                          </tr>
                                                                                       </tbody>
                                                                                    </table>
                                            </div>

                                            <div id="Paris" class="tabcontent">
                                                 <table id="instructions-table">
                                                                                       <tbody>
                                                                                          <tr class="tbl-heading">

                                                                                             <td class="tbl-ing-heading">VEGGIES</td>
                                                                                             <td class="tbl-ing-heading">CALORIES PER OZ</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Alfalfa Sprouts</td>
                                                                                             <td>6</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Artichoke (HF)</td>
                                                                                             <td>13</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Asparagus (HF)</td>
                                                                                             <td>5</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Bell Pepper</td>
                                                                                             <td>6</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Broccoli (1X) (HF)</td>
                                                                                             <td>10</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Brussel Sprouts (HF)</td>
                                                                                             <td>12</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Cabbage (HF)</td>
                                                                                             <td>7</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Cauliflower (1X)</td>
                                                                                             <td>7</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Celery</td>
                                                                                             <td>4</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Collard Greens (HF)</td>
                                                                                             <td>9</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Cucumber</td>
                                                                                             <td>4</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Endive</td>
                                                                                             <td>5</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Fennel (HF)</td>
                                                                                             <td>9</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Green Bean (HF)</td>
                                                                                             <td>9</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Jalapenos</td>
                                                                                             <td>8</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Kale (HF)</td>
                                                                                             <td>14</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Leek</td>
                                                                                             <td>19</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Lettuce</td>
                                                                                             <td>4</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Onion</td>
                                                                                             <td>11</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Portabella Mushrooms</td>
                                                                                             <td>7</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Radish</td>
                                                                                             <td>6</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Shallot</td>
                                                                                             <td>20</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Shiitake Mushrooms</td>
                                                                                             <td>9</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Spinach (HF)</td>
                                                                                             <td>7</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Swiss Chard (HF)</td>
                                                                                             <td>6</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Tomato</td>
                                                                                             <td>5</td>

                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Zucchini</td>
                                                                                             <td>5</td>

                                                                                          </tr>

                                                                                       </tbody>
                                                                                    </table>
                                            </div>

                                            <div id="Tokyo" class="tabcontent">
                                                 <table id="instructions-table">
                                                                                       <tbody>
                                                                                          <tr class="tbl-heading">

                                                                                             <td class="tbl-ing-heading">FRUITS</td>
                                                                                             <td class="tbl-ing-heading">CALORIES PER SERVING</td>
                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Apple (Medium) (HF)</td>
                                                                                             <td>95</td>
                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Apricot</td>
                                                                                             <td>17</td>
                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Blackberry 1/2 Cup</td>
                                                                                             <td>31</td>
                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Blueberry 1/2 Cup</td>
                                                                                             <td>42</td>
                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Cherry 1/2 Cup</td>
                                                                                             <td>38</td>
                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Grapefruit (1/2)</td>
                                                                                             <td>52</td>
                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Lemon</td>
                                                                                             <td>17</td>
                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Lime</td>
                                                                                             <td>20</td>
                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Orange (Medium)</td>
                                                                                             <td>95</td>
                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Peach (1/2)</td>
                                                                                             <td>17</td>
                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Pear (HF)</td>
                                                                                             <td>31</td>
                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Plum</td>
                                                                                             <td>42</td>
                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Raspberry 1/2 Cup</td>
                                                                                             <td>38</td>
                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Strawberry 1 Cup</td>
                                                                                             <td>52</td>
                                                                                          </tr>
                                                                                          <tr>

                                                                                             <td>Watermelon 1 Cup</td>
                                                                                             <td>17</td>
                                                                                          </tr>



                                                                                       </tbody>
                                                                                    </table>
                                            </div>
                                          
</div>
                                        
                                      </div>
                                      </div>
                                 </div>
                              </div>
                     </div>
                  </div>






        </div>
    
</div>
            
<p id="stage2"></p>
                      
<div class="row nutra_content Phase-Three">
<div id="stage3" class="stage3">
          <div class="Desc-Head Desc-Head2" id="section1">
             <div class="col-md-12 ">
                
                  
                      <div class="Content">
                         <div class="Head-Content Section-Head" id="section-img">
                           
							<div class="Sect-Head">
                              <h4>PHASE 3 – STABILIZE</h4>
							</div>
							

							<div class="Content-Desc">
							
							  Congratulations on completing the Fat Burn phase! It is time to slow down the fat burning and re-introduce more foods back into your diet. Here are the rules for the Stabilize phase.
							
							</div>
							
							<div class="Head-With-Desc Desc-H2">
							
							<h4 class="Sec-Title">1. Days 22 through 42 (Days 42 – 64 for Option 2) </h4>
							continue the same diet from the Fat Burn phase, except you are now out of the Diet Drops Formula. All other rules remain the same.
							
							</div>
							
							
							<div class="Head-With-Desc Desc-H2">
							
							<h4 class="Sec-Title">2. When you weigh yourself on day 43 (Day 64 for Option 2), </h4>
						
							that weight becomes your Weight Reference Point (WRP). You can now begin to add different foods back into your diet (See #5 below - What do I eat?), but it is important that you stay within a 2 lb window of your WRP. Example – If your WRP is 200 lbs. that means you are outside of your WRP if you weigh less than 197.9 lbs. or above 202.1 lbs.
							</div>
							
							<div class="Head-With-Desc Desc-H2">
							
							<h4 class="Sec-Title">3. Your calorie target for the Stabilization </h4>
							phase requires a little math. Make sure to write down these number as you calculate them. 
                              <br>
                              <br>(a) First, you need to calculate your <strong><i>Basil Metabolic Rate</i> (BMR)</strong>. To do this, use the appropriate equation below or simply use the bmr calculator. 
							
							</div>

				
							<div class="New-Content Head-With-Desc Desc-H2">
							<h4 class="Sec-Title">
							</h4>
                              
							<em>Men: BMR = 66 + (6.23 x weight in lbs) + (12.7 x height in inches) – (6.8 x age in years) 
                            <br>
                              Women: BMR = 655 + (4.35 x weight in lbs) + (4.7 x height in inches) – (4.7 x age in years)</em>
							<br>
                            <br>
                               <div class="diet-calc">
    
                              (b) Second, you will calculate your <strong><i>Daily Caloric Intake</i> (DCI)</strong>. This IS NOT the number of calories you will be consuming, but a reference point from which to figure your new calorie target.  
                                     Simply choose your activity level from the categories below and multiply your BMR by the given number.
                                <br>
                            <br>
                                <em>Sedentary (little or no exercise): DCI = BMR x 1.125
                                <br>
								Lightly active (exercise 1–3 days/week): DCI = BMR x 1.225
                                <br>
								Moderately active (exercise 3–5 days/week): DCI = BMR x 1.4
								<br>
                                Active (exercise 6–7 days/week): DCI = BMR x 1.575
								<br>
                                  Very active (hard exercise 6–7 days/week): AMR = BMR x 1.75</em>
                              <br>
                              <br>
                                 
							Now that you have your BMR and DCI you’re ready to figure out your new calorie target. You can use the Stabilize Calorie Target Calculator below (Use the BMR calculator first, as this calculator will use that BMR value). You can also calculate it manually by adding your BMR plus your daily caloric intake divided by 2. Then subtract 200 calories. Like this:
							<br>
							<div class="Head-With-Desc Desc-H2 H3">
							

							<div class="H3-Desc-List">
							
							<ul>
							<li>
							- BMR: 1600
							</li>
							
							<li>
							- Daily Caloric Intake: 1800
							</li>
							
							<li>
							- Add those 2 together: 1600 +1800 = 3,400
							</li>
							
							<li>
							- 3,400 / 2 = 1,700
							</li>
							
							<li>
							- 1,700 - 200 = 1,500
							</li>

     {% render "bmr-calculator" %}                        
   <br>
                                 <br>
							<li>
							
							Take the first few days and slowly increase calories. Each day add in another 200 calories until you reach your calorie target. If your weight continues to go down then continue to increase your calories until it stabilizes.
							</li>
							</ul>
							
							</div>
							<div class="Head-With-Desc Desc-H2">
							
							<h4 class="Sec-Title">4. Reset Days – </h4>
							if you are 2.1 lbs. or more over your WRP you MUST do a reset day THAT VERY DAY. Be religious about it, and NEVER skip your reset day. You can do a Steak Day, Raw Vegetable Day, or Apple Day as a reset day during this phase. Your steak can be as large as you want during this phase.
							
							</div>
							
							<div class="Head-With-Desc Desc-H2">
							
							<h4 class="Sec-Title">5. What do I eat? </h4>
							The foods you can begin adding on day 43 (day 64 for Option 2) are our absolute favorite and you will LOVE them! For your macronutrients we recommend: 1/3 fats, 1/3 proteins, and 1/3 carbs. The carbs are going to come from your veggies and fruits.
							
							</div>
							
							<div class="Head-With-Desc Desc-H2">
							
							<h4 class="Sec-Title">Oils and Fats: </h4>
							Start eating healthy fats and oils again! Ex. Coconut Oil, Avocado, Grass Fed Butter, Olive Oil, Raw Nuts, Fish (Salmon is one of the best), Grass Fed Beef, Buffalo, Eggs.
							
							</div>
							
							<div class="Head-With-Desc Desc-H2">
							
							<h4 class="Sec-Title">Proteins: </h4>
							All proteins are approved! If you love bacon, find a nice organic bacon with no sugar or nitrates and enjoy!
							
							</div>
							
							<div class="Head-With-Desc Desc-H2">
							
							<h4 class="Sec-Title">Veggies: </h4>
							Stay away from your starchy veggies for right now. These include all potato varieties, root veggies, and corn.
							
							</div>
							
							<div class="Head-With-Desc Desc-H2">
							
							<h4 class="Sec-Title">Dairy and Cheese: </h4>
							All dairy is cautionary and should not be eaten for the first week. After the first week, you can add in a nice, aged (longer than 1 year) cheese. Don’t eat “singles” or pre-shredded cheese because most contain neurotransmitter disruptors and other additives that are not good for your body.
							
							</div>
							
							<div class="Head-With-Desc Desc-H2">
							
							<h4 class="Sec-Title">Fruits that you are NOT allowed to eat: </h4>
							Canned fruits, dried fruits and anything that has added sugar. Stick with natural, whole pieces of fruit. Cautionary fruits are melons, bananas, grapes, and mangoes.
							
							</div>
							
							<div class="Head-With-Desc Desc-H2">
							
							<h4 class="Sec-Title">Nuts/seeds are cautionary: </h4>
							Peanuts are not recommended during this phase but can be eaten with caution. Be cautious with all nut butters as they are extremely easy to overeat and nuts can be mildly inflammatory. Make sure the nuts you eat are raw, single servings of one variety.
							
							</div>
							
							<div class="Head-With-Desc Desc-H2">
							
							<h4 class="Sec-Title">Beans: </h4>
							Starchy beans like black, pinto, and chickpea are not allowed during your Stabilize phase.
							
							</div>
							
							<div class="Head-With-Desc Desc-H2">
							
							<h4 class="Sec-Title">Sugar: </h4>
							Still not allowed yet! The only sugar you should be getting right now should be coming from your fruit. You can now introduce alcohol sweeteners like xylitol, erythritol, and monk fruit.
							
							</div>
							</div>
							</div>
                         </div>
 
                      </div> 
             </div>
          </div>
</div>
</div>            
            
<div class="row nutra_content Phase-Fourth">
<div id="stage4" class="stage4">
          <div class="Desc-Head Desc-Head2" id="section1">
             <div class="col-md-12 ">
                      <div class="Content">
                         <div class="Head-Content Section-Head" id="section-img">
							<div class="Sect-Head">
                              <h4>PHASE 4 – LIVE LIFE</h4>
							</div>
							<div class="Content-Desc">
							
							  Great job getting to this phase! Now the real work begins. Maintaining consistent healthy eating habits every day is extremely important as you begin the rest of your new, healthy life. Now that you have successfully completed this diet you are probably in one of the two following scenarios:
							
							</div>
							
							<div class="Head-With-Desc Desc-H2">
							
							<h4 class="Sec-Title">I lost a bunch of weight, feel amazing, and would like to do another round.</h4>
							If you have been on the longer 43 day low cal diet and you have not yet reached your goal, it is best to enter Phase 3 for 3 weeks. After 3 weeks go back to Phase 2 to begin your next round. Ask our support staff about maintenance products and how to get a discount on your next order.
							
							</div>
							
							
							<div class="Head-With-Desc Desc-H2">
							
							<h4 class="Sec-Title">I lost a bunch of weight and want to try to lose more weight on my own and want to know the best way to do that.</h4>
						
							We recommend taking the Razburn for continued weight maintenance, and cleansing your body with <strong><a href="https://biosourcenutra.com/products/colonew">Colonew</a></strong> every 3 months. We also recommend beginning a serious exercise program to feel even better while further improving your new look! HIIT (High Intensity Interval Training) exercises are a great way to get maximum benefit in the shortest amount of time. HIIT is a type of exercise that you can do anywhere, anytime. This method involves exercising at 90–100% of your maximum heart rate for 30–60 seconds, followed by 30–60 seconds of lower intensity exercise or resting. Repeat this 5 to 10 times for a full workout, depending on your goals of course. It’s the most effective way to burn fat and lose weight while keeping workouts short.
							</div>
							
							

							
                         </div>
						 
						 
                      </div>
                   
                
             </div>
          </div>
</div>
</div>               
 </div>
</div>
 </div>
  
</div>

<style>
  .nutra_content h2{
   color: #000;
  }
  .More-Tools.text-center {
    display: block;
    width: 50%;
  }
  .href_url {
   color: #255aab;
  }
  @media only screen and (max-width: 768px) {
  .More-Tools.text-center {
    width: 88%;
   }
    strong {
    font-weight: bold !important;
    color: #000;
   }
  }
</style>
<!-- //--------------------- -->
          
          

