<div class="Diet-Tool">
   <div class="page-width">
      <div class="Main-Diet">
         <div class="Content-Diet">
            <div class="rte">{{ page.content }}{% section 'Diet-Grid' %}</div>
            <main>{% render "bmr-calculator" %}</main>
         </div>
      </div>
   </div>
</div>